extends layout

block content
  h1= title
  p Welcome to #{title}
  p Brett Favre
  
// test
  form(method='POST' action='/register')
   div.form-group
     label(for='name') Name:
     input#name.form-control(type='text', placeholder='first and last' name='name')
   button.btn.btn-primary(type='submit') Sign up
